---
import config from '../../config.mjs';
import SocialIcon from './SocialIcon.astro';
---
<div class="w-full h-[1px] overflow-hidden gradient-line"></div>
<div class="py-14 transition-all duration-300 bg-gradient-to-r from-pacamara-secondary/10 to-pacamara-accent/10 dark:bg-gradient-to-r dark:from-pacamara-accent/[2%] dark:to-pacamara-secondary/[5%]">
    <footer class="container w-screen flex grow flex-col lg:flex-row items-center justify-center mx-auto">
        <!-- Linkes Logo -->
        <div class="flex-1 lg:w-1/6 flex justify-start">
            <a href="/" class="hover:text-pacamara-accent transition-all duration-300 dark:text-white dark:hover:text-pacamara-accent">
                <img src="/raflo-logo.svg" alt="Raflo Logo" class="h-8" />
            </a>
        </div>

        <!-- Newsletter-Formular in der Mitte -->
        <div class="flex-grow lg:w-2/3 flex justify-center text-center lg:text-left mb-8 lg:mb-0">
            <form
                action="https://buttondown.com/api/emails/embed-subscribe/Eddy2000"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.com/Eddy2000', 'popupwindow')"
                class="embeddable-buttondown-form w-full max-w-lg mx-auto"
            >
                <label for="bd-email" class="block mb-4 text-pacamara-dark/80 text-lg dark:text-pacamara-white/80">
                    Trage dich für unseren Newsletter ein, um keine neuen Posts zu verpassen.
                </label>
                <div class="flex flex-col sm:flex-row gap-4 items-center">
                    <input
                        class="rounded-xl py-3 px-4 w-full text-pacamara-dark bg-white dark:bg-pacamara-dark/20 dark:text-pacamara-white border border-pacamara-accent/50 focus:outline-none focus:ring-2 focus:ring-pacamara-accent"
                        type="email"
                        name="email"
                        id="bd-email"
                        placeholder="Deine E-Mail-Adresse"
                    />
                    <input
                        class="btn bg-pacamara-accent text-white rounded-xl py-3 px-6 w-full sm:w-auto shadow-pacamara-shadow cursor-pointer hover:bg-pacamara-accent/80 transition-all duration-300"
                        type="submit"
                        value="Jetzt anmelden"
                    />
                </div>
            </form>
        </div>

        <!-- Copyright Hinweis rechts -->
        <div class="flex-1 flex justify-end">
            <span class="text-[16px] text-pacamara-dark/40 transition-all duration-300 dark:text-pacamara-white/40">
                © 2024 Raflo. All rights reserved
            </span>
        </div>
    </footer>
</div>
