---
import Base from "../layouts/Base.astro";
import Welcome from "../components/general/Welcome.astro";
import LatestPosts from "../components/blog/LatestPosts.astro";
---

<Base>
	<main>
		<Welcome />
		<LatestPosts />
		<script src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
	</main>
</Base>
